:root {
  --container-width: calc();
}
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  font-size: 1.2rem;
}
.left-container {
  background: url(./images/pexels-shonejai-445753-1227511.jpg);
  background-size: cover;
  height: 100vh;
  width: 60%;
}

.right-container {
  background-color: white;
  width: 90%;
}
h3 {
  margin-top: 100px;
  padding: 30px;
}
p:nth-last-child(2) {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.form-container {
  background-color: rgb(236, 227, 214);
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 12px;
}
form {
  display: flex;
  flex-wrap: wrap;
}
.input {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}
input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}

.button {
  margin: 20px;
  padding: 20px;
}

button {
  background-color: antiquewhite;
  padding: 15px;
  font-size: 20px;
  color: rgba(95, 94, 94);
  border-radius: 15px;
  height: 50px;
  font-weight: 900;
  width: 200px;
}

button:hover {
  cursor: pointer;
  background-color: #393e46;
  color: antiquewhite;
}
p:nth-child(even) {
  margin-top: 30px;
  color: #393e46;
  font-weight: 600;
}
a:last-child {
  text-decoration: none;
  color: green;
}
a:active {
  color: #393e46;
}
input:focus {
  border-color: red;
}
